@import 'tailwindcss';
@import 'tw-animate-css';

@custom-variant dark (&:is(.dark *));

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

:root {
  --background: oklch(0.98 0 258.32);
  --foreground: oklch(0.26 0.04 268.07);
  --card: oklch(0.93 0.01 251.56);
  --card-foreground: oklch(0.26 0.04 268.07);
  --popover: oklch(0.99 0.03 98.05);
  --popover-foreground: oklch(0.26 0.04 268.07);
  --primary: oklch(0.48 0.12 263.38);
  --primary-foreground: oklch(0.99 0.03 98.05);
  --secondary: oklch(0.86 0.12 81.01);
  --secondary-foreground: oklch(0.26 0.04 268.07);
  --muted: oklch(0.92 0.01 106.56);
  --muted-foreground: oklch(0.48 0.12 263.38);
  --accent: oklch(0.69 0.07 234.04);
  --accent-foreground: oklch(0.99 0.03 98.05);
  --destructive: oklch(0.26 0.04 322.53);
  --destructive-foreground: oklch(0.99 0.03 98.05);
  --border: oklch(0.78 0.02 251.19);
  --input: oklch(0.69 0.07 234.04);
  --ring: oklch(0.86 0.12 81.01);
  --chart-1: oklch(0.48 0.12 263.38);
  --chart-2: oklch(0.86 0.12 81.01);
  --chart-3: oklch(0.69 0.07 234.04);
  --chart-4: oklch(0.78 0.02 251.19);
  --chart-5: oklch(0.26 0.04 322.53);
  --sidebar: oklch(0.93 0.01 251.56);
  --sidebar-foreground: oklch(0.26 0.04 268.07);
  --sidebar-primary: oklch(0.48 0.12 263.38);
  --sidebar-primary-foreground: oklch(0.99 0.03 98.05);
  --sidebar-accent: oklch(0.86 0.12 81.01);
  --sidebar-accent-foreground: oklch(0.26 0.04 268.07);
  --sidebar-border: oklch(0.78 0.02 251.19);
  --sidebar-ring: oklch(0.86 0.12 81.01);
  --font-sans: Oxanium, sans-serif;
  --font-serif: Lora, serif;
  --font-mono: Fira Code, monospace;
  --radius: 0.5rem;
  --shadow-2xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
  --shadow-xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
  --shadow-sm:
    0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 1px 2px -1px hsl(0 0% 0% / 0.1);
  --shadow: 0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 1px 2px -1px hsl(0 0% 0% / 0.1);
  --shadow-md:
    0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 2px 4px -1px hsl(0 0% 0% / 0.1);
  --shadow-lg:
    0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 4px 6px -1px hsl(0 0% 0% / 0.1);
  --shadow-xl:
    0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 8px 10px -1px hsl(0 0% 0% / 0.1);
  --shadow-2xl: 0 1px 3px 0px hsl(0 0% 0% / 0.25);
}

.dark {
  --background: oklch(0.22 0.02 275.84);
  --foreground: oklch(0.94 0.01 266.7);
  --card: oklch(0.27 0.04 281.3);
  --card-foreground: oklch(0.94 0.01 266.7);
  --popover: oklch(0.27 0.04 281.3);
  --popover-foreground: oklch(0.91 0.14 95.11);
  --primary: oklch(0.48 0.12 263.38);
  --primary-foreground: oklch(0.91 0.14 95.11);
  --secondary: oklch(0.91 0.14 95.11);
  --secondary-foreground: oklch(0.27 0.04 281.3);
  --muted: oklch(0.27 0.04 281.3);
  --muted-foreground: oklch(0.62 0.04 262.04);
  --accent: oklch(0.85 0.05 264.78);
  --accent-foreground: oklch(0.22 0.02 275.84);
  --destructive: oklch(0.53 0.12 357.11);
  --destructive-foreground: oklch(0.91 0.14 95.11);
  --border: oklch(0.31 0.03 281.77);
  --input: oklch(0.48 0.12 263.38);
  --ring: oklch(0.91 0.14 95.11);
  --chart-1: oklch(0.48 0.12 263.38);
  --chart-2: oklch(0.91 0.14 95.11);
  --chart-3: oklch(0.69 0.07 234.04);
  --chart-4: oklch(0.62 0.04 262.04);
  --chart-5: oklch(0.53 0.12 357.11);
  --sidebar: oklch(0.27 0.04 281.3);
  --sidebar-foreground: oklch(0.94 0.01 266.7);
  --sidebar-primary: oklch(0.48 0.12 263.38);
  --sidebar-primary-foreground: oklch(0.91 0.14 95.11);
  --sidebar-accent: oklch(0.91 0.14 95.11);
  --sidebar-accent-foreground: oklch(0.27 0.04 281.3);
  --sidebar-border: oklch(0.31 0.03 281.77);
  --sidebar-ring: oklch(0.91 0.14 95.11);
  --font-sans: Oxanium, sans-serif;
  --font-serif: Lora, serif;
  --font-mono: Fira Code, monospace;
  --radius: 0.5rem;
  --shadow-2xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
  --shadow-xs: 0 1px 3px 0px hsl(0 0% 0% / 0.05);
  --shadow-sm:
    0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 1px 2px -1px hsl(0 0% 0% / 0.1);
  --shadow: 0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 1px 2px -1px hsl(0 0% 0% / 0.1);
  --shadow-md:
    0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 2px 4px -1px hsl(0 0% 0% / 0.1);
  --shadow-lg:
    0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 4px 6px -1px hsl(0 0% 0% / 0.1);
  --shadow-xl:
    0 1px 3px 0px hsl(0 0% 0% / 0.1), 0 8px 10px -1px hsl(0 0% 0% / 0.1);
  --shadow-2xl: 0 1px 3px 0px hsl(0 0% 0% / 0.25);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);
}
